[Unit]
Description=Github Mirror Service
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/github-mirror
Restart=on-failure
RestartSec=30

NonBlocking=true

User=git
Group=git
PrivateTmp=yes
ProtectSystem=full
PrivateDevices=yes
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
